@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Cambiado a altura mínima para ajustarse al contenido */
  background-color: #f5e1da; /* Color de fondo pastel agradable */
  animation: fadeInDown 1s ease-in-out; /* Aplica la animación fadeInDown */
}

.register-logo {
  width: 150px; /* Ajusta el tamaño del logo según tu preferencia */
  height: 150px;
  margin-bottom: 15px;
}

.register-form-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Alinea el formulario al centro */
  background-color: #fff; /* Fondo blanco del formulario */
  padding: 30px; /* Aumenta el padding para un aspecto más espacioso */
  border-radius: 20px; /* Borde redondeado del formulario */
  max-width: 400px; /* Ajustado el ancho máximo del formulario */
  width: 80%; /* Ajusta el ancho del formulario */
  margin: 0 auto; /* Centra el formulario horizontalmente */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar el formulario */
}

.register-label {
  margin-bottom: 10px; /* Agregado espacio inferior a las etiquetas */
}

.register-rounded-input {
  margin-bottom: 15px; /* Reducida la separación entre campos de texto */
  padding: 12px; /* Aumentado el padding para un aspecto más cómodo */
  border: 1px solid #ccc; /* Borde del campo de texto */
  border-radius: 25px; /* Campo de texto más redondo */
  transition: border-color 0.3s; /* Transición para cambiar el color del borde */
  width: 100%; /* Ajusta el ancho del campo de texto al 100% del contenedor */
}

.register-rounded-input:focus {
  border-color: #ff6b6b; /* Color del borde al enfocar el campo de texto */
  box-shadow: 0 0 10px rgba(255, 107, 107, 0.3); /* Sombra al enfocar */
}

.register-button-container {
  display: flex;
  flex-wrap: wrap; /* Permite que los botones se envuelvan en pantallas más pequeñas */
  justify-content: space-between; /* Espacio uniforme entre los botones */
  margin-top: 15px; /* Aumentado el espacio entre el formulario y los botones */
}

.register-login-button,
.register-register-button,
.register-forgot-password-button {
  flex-basis: 100%; /* Ancho del 100% para ocupar toda la línea */
  padding: 10px; /* Aumentado el padding para un aspecto más cómodo */
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.register-login-button {
  background-color: #f9a3a4; /* Color de fondo */
  color: #fff; /* Color del texto */
}

.register-register-button {
  background-color: #f9a3a4; /* Color de fondo */
  color: #fff; /* Color del texto */
}

.register-forgot-password-button {
  color: #ff6b6b; /* Color del texto */
}

.register-login-button:hover,
.register-register-button:hover {
  background-color: #f7cacb; /* Color de fondo al pasar el ratón */
}

.register-label-title {
  color: black;
  font-weight: bold;
  margin-bottom: 20px; /* Aumentado el espacio inferior para separar el título del formulario */
  text-align: center; /* Alinea el título al centro */
}
