/* App.css */
/* Estilos generales */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f2f2f2;
}

/* Estilos de la barra de navegación */
.App-header {
  background-color: #3498db;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.App-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-logo-container {
  display: flex;
  align-items: center;
}

.App-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.App-title {
  color: #fff;
  margin: 0;
  font-size: 24px;
}

.App-header-buttons {
  display: flex;
}

.App-nav-button {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  transition: color 0.3s, background-color 0.3s;
}

.App-nav-button:hover {
  background-color: #2980b9;
}

/* Estilos del contenido principal */
.App-main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-section {
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Estilos de la barra de búsqueda */
.App-search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.App-search-bar input {
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin-right: 5px;
  width: 100%;
}

.App-search-button {
  background-color: #3498db;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  border-radius: 20px;
  padding: 10px 15px;
}

.App-search-button:hover {
  background-color: #2980b9;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  .App-header-container {
    flex-direction: column;
    align-items: center;
  }

  .App-header-buttons {
    margin-top: 10px;
  }
}

/* Footer */
.footer {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
