@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5e1da;
  animation: fadeInDown 1s ease-in-out;
}

.logo {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  margin-right: 0%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

label {
  margin-bottom: 10px;
}

.rounded-input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 25px;
  transition: border-color 0.3s;
}

.rounded-input:focus {
  border-color: #ff6b6b;
  box-shadow: 0 0 8px rgba(255, 107, 107, 0.5);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.login-button,
.register-button,
.forgot-password-button {
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login-button {
  background-color: #f9a3a4;
  color: #fff;
}

.register-button {
  background-color: #f9a3a4;
  color: #fff;
}

.forgot-password-button {
  color: #ff6b6b;
}

.login-button:hover,
.register-button:hover {
  background-color: #f7cacb;
}

/* Media query para dispositivos móviles */
@media only screen and (max-width: 767px) {
  .logo {
    width: 150px; /* Reducir el tamaño del logo para dispositivos móviles */
    height: 150px;
    margin-bottom: 10px; /* Reducir el espacio entre el logo y los campos de texto */
  }

  .login-form {
    padding: 15px; /* Reducir el padding del formulario */
    background-color: #f5e1da;
  }

  .rounded-input {
    margin-bottom: 10px; /* Mantener espacio entre los campos de texto */
    padding: 10px; /* Reducir el padding del campo de texto */
    border-radius: 15px; /* Reducir el radio del borde */
  }

  .button-container {
    flex-direction: column; /* Apilar botones en dispositivos móviles */
    align-items: center;
    margin-bottom: 10px;
  }

  .login-button,
  .register-button {
    width: 100%; /* Ancho completo para botones en móvil */
  }
  
  .user-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rounded-input {
    width: 100%; /* Ancho completo para campos de texto en móvil */
  }
}

