/* App.css */
.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: 150px;
  border-radius: 50%;
  margin-top: 20px;
}

.App-header {
  background-color: #4CAF50; /* Verde, puedes cambiar esto según tus preferencias de color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Elimina el estilo de animación del logo si lo prefieres */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
